src/AppStorageProcedure3/Resources/Schemas/pr_fir00032_busca_firtitapods.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="https://itg.santander.cl/AppStorageProcedure3/Resources/Schemas/pr_fir00032_busca_firtitapods.xsd"
	 xmlns:ns0="https://itg.santander.cl/AppStorageProcedure3/Resources/Schemas/INFO.xsd"
	 targetNamespace="https://itg.santander.cl/AppStorageProcedure3/Resources/Schemas/pr_fir00032_busca_firtitapods.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="https://itg.santander.cl/AppStorageProcedure3/Resources/Schemas/INFO.xsd" schemaLocation="INFO.xsd"/>
	<xs:element name="INPUT">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="num_cta_cte" type="xs:string"/>
				<xs:element name="rut1" type="xs:string"/>
				<xs:element name="rut2" type="xs:string"/>
				<xs:element name="rut3" type="xs:string"/>
				<xs:element name="rut4" type="xs:string"/>
				<xs:element name="tipo_cons" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Response_pr_fir00032_busca_firtitapods">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:INFO"/>
				<xs:element name="OUTPUT" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Escalares" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ReturnValue" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Resultsets" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ResultSet1" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Record1" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="rut" type="xs:string" minOccurs="0"/>
																<xs:element name="nombre" type="xs:string" minOccurs="0"/>
																<xs:element name="OutputColumn1" type="xs:string" minOccurs="0"/>
																<xs:element name="imagen" type="xs:string" minOccurs="0"/>
																<xs:element name="OutputColumn2" type="xs:string" minOccurs="0"/>
																<xs:element name="OutputColumn3" type="xs:string" minOccurs="0"/>
																<xs:element name="OutputColumn4" type="xs:string" minOccurs="0"/>
																<xs:element name="OutputColumn5" type="xs:string" minOccurs="0"/>
																<xs:element name="OutputColumn6" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>