src/AppStorageProcedure3/Resources/Schemas/PR_HOB_CLT_CAL_VSN_CPN.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="https://itg.santander.cl/AppStorageProcedure3/Resources/Schemas/PR_HOB_CLT_CAL_VSN_CPN.xsd"
	 xmlns:ns0="https://itg.santander.cl/AppStorageProcedure3/Resources/Schemas/INFO.xsd"
	 targetNamespace="https://itg.santander.cl/AppStorageProcedure3/Resources/Schemas/PR_HOB_CLT_CAL_VSN_CPN.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="https://itg.santander.cl/AppStorageProcedure3/Resources/Schemas/INFO.xsd" schemaLocation="INFO.xsd"/>
	<xs:element name="INPUT">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cod_cpn" type="xs:string"/>
				<xs:element name="nro_doc_psn" type="xs:string"/>
				<xs:element name="v_error" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Response_PR_HOB_CLT_CAL_VSN_CPN">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:INFO"/>
				<xs:element name="OUTPUT" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Escalares" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ReturnValue" type="xs:string" minOccurs="0"/>
										<xs:element name="v_error" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>