src/AppStorageProcedure3/Resources/Schemas/PR_SCC_CLI_UPD_OPX.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="https://itg.santander.cl/AppStorageProcedure3/Resources/Schemas/PR_SCC_CLI_UPD_OPX.xsd"
	 xmlns:ns0="https://itg.santander.cl/AppStorageProcedure3/Resources/Schemas/INFO.xsd"
	 targetNamespace="https://itg.santander.cl/AppStorageProcedure3/Resources/Schemas/PR_SCC_CLI_UPD_OPX.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="https://itg.santander.cl/AppStorageProcedure3/Resources/Schemas/INFO.xsd" schemaLocation="INFO.xsd"/>
	<xs:element name="INPUT">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PRM_RUT_CLI" type="xs:string"/>
				<xs:element name="PRM_EML" type="xs:string"/>
				<xs:element name="PRM_EML2" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Response_PR_SCC_CLI_UPD_OPX">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:INFO"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>