src/AppStorageProcedure3/Resources/Schemas/SP_IDI_LST_DOC.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="https://itg.santander.cl/AppStorageProcedure3/Resources/Schemas/SP_IDI_LST_DOC.xsd"
	 xmlns:ns0="https://itg.santander.cl/AppStorageProcedure3/Resources/Schemas/INFO.xsd"
	 targetNamespace="https://itg.santander.cl/AppStorageProcedure3/Resources/Schemas/SP_IDI_LST_DOC.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="https://itg.santander.cl/AppStorageProcedure3/Resources/Schemas/INFO.xsd" schemaLocation="INFO.xsd"/>
	<xs:element name="INPUT">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="I_RUT" type="xs:string"/>
				<xs:element name="I_CAT" type="xs:string"/>
				<xs:element name="I_TIP" type="xs:string"/>
				<xs:element name="I_FECDES" type="xs:string"/>
				<xs:element name="I_FECHAS" type="xs:string"/>
				<xs:element name="I_COD_CNL_TBG" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Response_SP_IDI_LST_DOC">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:INFO"/>
				<xs:element name="OUTPUT" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Escalares" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="O_COD" type="xs:string" minOccurs="0"/>
										<xs:element name="O_MSG" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Resultsets" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ResultSet1" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Record1" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="COD_DOC_FNT" type="xs:string" minOccurs="0"/>
																<xs:element name="NUM_LLV_GID_DOC_FNT" type="xs:string" minOccurs="0"/>
																<xs:element name="NOM_DOC_FNT" type="xs:string" minOccurs="0"/>
																<xs:element name="TIT_DOC_FNT" type="xs:string" minOccurs="0"/>
																<xs:element name="FEC_DOC_FNT" type="xs:string" minOccurs="0"/>
																<xs:element name="FEC_CAD_DOC" type="xs:string" minOccurs="0"/>
																<xs:element name="FEC_VLD_DOC" type="xs:string" minOccurs="0"/>
																<xs:element name="TPO_ARC_DOC_FNT" type="xs:string" minOccurs="0"/>
																<xs:element name="DSC_ALS_CNA" type="xs:string" minOccurs="0"/>
																<xs:element name="FLG_TPO_SPL" type="xs:string" minOccurs="0"/>
																<xs:element name="COD_TPO_DOC" type="xs:string" minOccurs="0"/>
																<xs:element name="COD_ABV_TPD" type="xs:string" minOccurs="0"/>
																<xs:element name="TNO_ARC_DOC_FNT" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>